<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

</head>

<body>
<h1>Select what would you like to do</h1>
<button onClick="window.location.href='http://127.0.0.1:5000/logIn';">
Create a new meeting
</button>

<button onClick="window.location.href='http://127.0.0.1:5000/logIn';">
Manage your reservation
</button>

<button onClick="window.location.href='http://127.0.0.1:5000/meetingReservation';">
Enroll for a meeting
</button>

</body>
</html>


